{% extends "components/base.html"%} {%block title%}Home{%endblock%} {%block
content%}
<!-- navbar -->
<p hidden>{%block navhome%}active{%endblock%} {%block navlist%}{%endblock%}</p>

<section class="hero">
  <div class="container">
    <div class="hero__slider owl-carousel">
      {%for movies in movie[:3] %}
      <div class="hero__items set-bg" data-setbg="{{movies.backdrop_path}}">
        <div class="row">
          <div class="col-lg-6">
            <div class="hero__text">
              <div class="label">MOST POPULARS</div>
              <h2>{{movies.title}}</h2>
              <p>{{movies.overview[:50]}}...</p>

              <a href="/detail/{{movies.movie_id}}"
                ><span>More details</span> <i class="fa fa-angle-right"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      {%endfor%}
    </div>
  </div>
</section>
<!-- Hero Section End -->

<!-- Product Section Begin -->
<section class="product spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="trending__product">
          <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
              <div class="section-title">
                <h4>Populars</h4>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4"></div>
          </div>
          <div class="row">
            {%for movies in movie%}
            <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="product__item" id="myUL">
                <div
                  class="product__item__pic set-bg"
                  data-setbg="{{movies.poster_path}}"
                >
                  <div class="ep">{{movies.rating}}</div>
                  <div class="comment">
                    <i class="fa fa-calendar"> {{movies.date[0:4]}}</i>
                  </div>
                  <div class="view">
                    <i class="fa fa-eye"></i> {{movies.popularity}}
                  </div>
                </div>
                <div class="product__item__text">
                  <h5>
                    <a href="detail/{{movies.movie_id}}">{{movies.title}}</a>
                  </h5>
                </div>
              </div>
            </div>
            {%endfor%}
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="product__sidebar">
          <div class="product__sidebar__view">
            <div class="section-title">
              <h5>Top Views</h5>
            </div>
            <ul class="filter__controls">
              <li class="active" data-filter="*">Day</li>
              <li data-filter=".week">Week</li>
            </ul>
            {%for trend in trends[:5]%}
            <div class="filter__gallery">
              <div
                class="product__sidebar__view__item set-bg mix day years"
                data-setbg="{{trend.image}}"
              >
                <div class="ep">{{trend.media_type}}</div>
                <div class="view">
                  <i class="fa fa-eye"> {{trend["popularity"]}}</i>
                </div>
                <h5><a href="/detail/{{trend.id}}">{{trend.title}}</a></h5>
              </div>
              {%endfor%} {%for trend_week in trends_week[:4]%}
              <div
                class="product__sidebar__view__item set-bg mix week years"
                data-setbg="{{trend_week.image}}"
              >
                <div class="ep">{{trend_week.media_type}}</div>
                <div class="view">
                  <i class="fa fa-eye"></i>{{trend_week.popularity}}
                </div>
                <h5>
                  <a href="/detail/{{trend_week.id}}">{{trend_week.title}}</a>
                </h5>
              </div>
              {%endfor%}
            </div>
          </div>
          <div class="product__sidebar__comment">
            <div class="section-title d-flex text-white">
              <h5 class="mr-3">Cinamon</h5>
              <p>Cinema Breakdown</p>
            </div>
            <ul class="list-group border-primary">
              <li
                class="list-group-item d-flex justify-content-between align-items-center bg-content text-primary border-primary"
              >
                Taufik Hidayatulloh
                <span class="badge badge-primary badge-pill">21SA1052</span>
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center bg-content text-primary border-primary"
              >
                Daffa Kurnia Putra
                <span class="badge badge-primary badge-pill">21SA1060</span>
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center bg-content text-primary border-primary"
              >
                Imun Faizal
                <span class="badge badge-primary badge-pill">21SA1210</span>
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center bg-content text-primary border-primary"
              >
                Ikhsan Dwi Nugroho
                <span class="badge badge-primary badge-pill">21SA1051</span>
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center bg-content text-primary border-primary"
              >
                Galang Yudistira
                <span class="badge badge-primary badge-pill">21SA1020</span>
              </li>
              
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Product Section End -->

<!-- Js Plugins -->

{%endblock%}
